.course_page_container {
    display: flex;
    flex-wrap: wrap;
}

.course_page_content_box {
    margin: 1rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
}

.course_page_content_image {
    border-radius: 10px;
    content: url('../public/img/courseimg.png')
}

.course_page_content_title {
    display: flex;
    color: rgb(69, 85, 115);
    font-size: 25px;
    font-weight: 700;
    margin-top: 1rem;
}

.course_page_content_desc {
    display: flex;
    text-align: left;
    color: rgb(140, 147, 159);
    font-size: 13px;
    margin-top: 0.6rem;
}