.footer {
    display: flex;
    justify-content: space-between;
    flex: 1;
    width: 80%;
    /* padding: 2rem 0; */
    margin: 0 auto;
    border-top: 1px solid #eaeaea;
    align-items: center;
    height: 200px;
    font-family: "Spoqa Han Sans Neo",Helvetica,Arial,sans-serif;
    color: rgb(73, 73, 73);
    padding: 2rem 3rem;
}

.footer_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_left_desc {
    margin: 2rem 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_link {
    color: rgb(90, 90, 90);
    font-size: 14px;
    font-weight: 700;
    margin-right: 0.3rem;
}

.footer_link:hover {
    cursor: pointer;
}

.footer_right {
    display: flex;
    color: rgb(69, 85, 115);
    text-align: end;
    font-weight: bold;
    font-size: 14px;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 2rem
}